#title{
    text-align: center;
}

#fruList{
    list-style: none;
    display: flex;
    gap: 3em;
    justify-content: center;


}

#vegList{
    list-style: none;
    display: flex;
    gap: 3em;
    justify-content: center;

}


.price{
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}

@media only screen and (min-width:0px) and (max-width:500px) {
   *{
        box-sizing: border-box;
        overflow-x: hidden;
        margin: auto;
        gap: 4em;
    } 
#fruList{
    flex-direction: column;
    font-size: 1em;

}
h3,h1{
    width: 100%;
    text-align: center;
}

#vegList{
flex-direction: column;
text-align: center;
}
#title{
    width: 100%;
    text-align: center;
    font-size: 0.4em;
   
}
.categoriesContainer{
    gap: 1em;
    justify-content: center;
}
h3{
    font-size: 1.5em;
}

}


@media only screen and (min-width:501px) and (max-width:800px){
    *{
        box-sizing: border-box;
        overflow-x: hidden;
        margin: auto;
        gap: 4em;
    }

#fruList{
flex-direction: column;
font-size: 1.5em;
}

#vegList{
    flex-direction: column;
    font-size: 1.5em;
}
#title{
    width: 100%;
    text-align: center;
    
}
.categoriesContainer{
    gap: 1em;
    justify-content: center;
}
h3{
    font-size: 1.5em;
}

}

@media only screen and (min-width:801px) and (max-width:1000px){
    *{
        box-sizing: border-box;
        overflow-x: hidden;
        margin: auto;
        gap: 4em;
    }
#fruList{
    flex-direction: column;
    font-size: 1.5em;
}
#vegList{
    flex-direction: column;
    font-size: 1.5em;
}
#title{
    width: 100%;
    text-align: center;
    
}
.categoriesContainer{
    gap: 1em;
    justify-content: center;
   
}
h3{
    font-size: 1.5em;
}

}
@media only screen and (min-width:1001px) {
    *{
        box-sizing: border-box;
        overflow-x: hidden;
        margin:0 auto;
        gap: 4em;
       
    }
#fruList{
    flex-direction: row;
  
}
#vegList{
    flex-direction: row;
 
}
#title{
    width: 100%;
    text-align: center;
    
}
.categoriesContainer{
    gap: 1em;
    justify-content: center;
   
    >img{
    width: 20em;
    height:10vh;
}
}

h3{
    font-size: 1.5em;
}


}
